/* 
@media (min-width:1000px) {
    body {
        background-color: red; 
    }
}  */

.hero1 {
    background-image: linear-gradient(45deg, #00a4bd, #00bda5);
    height: 500px;   
}

.heightHero {
    height: inherit;
}

.hero2 {
    position: relative;
    bottom: 500px;
    z-index: 10;
}

.imgResizeBig {
    width: 500px;
    height: 700px;
}

.imgResizeSmall {
    width: 500px;
    height: 400px;
    align-self: flex-end;
}
body {
    font-family: 'Montserrat', sans-serif;
  }

  footer ul li a {
    color: #cbd6e2;
  }

  footer ul li a:hover {
    color: #7BCAD8;
    text-decoration: none;
  }

.orange {
    background-color: #ff7a59;
    border-style: none;
}

.black {
    color: black;
}

.bg-image {
    background-image: linear-gradient(45deg, #00a4bd, #00bda5);
}
.circle {
    position: absolute;
    top: -100px;
    height: 400px;
    width: 400px;
    background-color: #ED537D;
    border-radius: 50%;
    z-index: -1;
    overflow: hidden;
}
.pic-1 {
    position: relative;
}
.pic-2 {
    position: relative;
    top: 270px;
    max-width: 100%;
    z-index: 2;
}

#handshake { 
    width: 120px;
    height: 100px;
}

#features-header::after {
    content: '';
    position: absolute;
    height: 5px;
    margin-left: 10px;
    border-bottom: 1px solid #e0e6ed;
    top: 14px;
    width: 100%;

}
section {background-color: #F5F8FA }
.wrapper1{ 
max-width: 800px;
margin: auto center;
 }
.wrapper2{ background-color: #FFFFFF;
width: 960px;
height: 284px;
border: #F5F8FA solid ;}
ul.no_listicon {
    list-style-type: none;
    padding: 0;
    margin: 0;
    }

li.listiconh {
        background: url('checkmark.svg') no-repeat left top;
        padding-left: 40px;
        padding-top: 10px; 
        height: 21px;
        width: auto;
        }
li.listicon {
    background: url('checkmark.svg') no-repeat left top;
    padding-left: 40px;
    margin-bottom: 10px; 
    height: 21px;
    width: auto;
    }


