body {
    font-family: 'Montserrat', sans-serif;
}

nav a {
    color: black;
    text-decoration: none;
  }

nav a:hover {
    color: #7BCAD8;
    text-decoration: underline;
  }
nav div button a {
    color: #cbd6e2;
    text-decoration: none;
  }

nav div button a:hover {
    color: #7BCAD8;
    text-decoration: underline;
  }
  nav div button {
    color: #cbd6e2;
    text-decoration: none;
  }

nav div button:hover {
    color: #7BCAD8;
    text-decoration: underline;
  }
